



.bg-junior{
    background:url(./Images/2.png);
    background-blend-mode: darken !important;
    z-index: 1;
    position: relative !important;
    
}
.bg-teen{
    background:url(./Images/3.png);
    background-blend-mode: darken !important;
    z-index: 1;
    position: relative !important;
    
}
.bg-profe{
    background:url(./Images/4.png);
    background-blend-mode: darken !important;
    z-index: 1;
    position: relative !important;
    background-position: center;
    background-size: cover;
    
}
.bg-junior::before,.bg-profe::before,.bg-teen::before{
background-size: cover;
content: '';
position: absolute;
height: 100%;
width: 100%;
bottom: 0;
left: 0;
background-color: rgba(18, 18, 18, 0.732);
}